<div class="home">
 	<div class="users-popup">
	    <a href="#/candidate" user-tooltip class="candidate user" data-toggle="tooltip" data-placement="top" title="Candidates Can Register With Their Skills"><span>Candidate</span></a>
	    <a href="#/admin" user-tooltip class="admin user" data-toggle="tooltip" data-placement="top" title="Admin should login to  map Candidates list to Employees based on skills"><span>Admin</span></a>
	    <a href="#/employee" user-tooltip class="employee user" data-toggle="tooltip" data-placement="top" title="Employess Can Register With Required Skills"><span>Employee</span></a>
	    <span class="welcome-clip">WelCome</span>
	</div>

</div>